################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HAPI_Start/v16/ipch/AutoPCH/48f65a350fd1119f/VISUALS.ipch
